@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenid</h1>

</div>

@if (!User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("Iniciar", new Usuario());
}