<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria Havelka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand  " asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria Havelka</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown ml-1 mr-1">
                                <button class="btn btn-outline-dark dropdown-toggle"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Propietarios
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Index">Propietarios</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Crear">Crear</a>

                                </div>
                            </div>

                            <div class="dropdown ml-1 mr-1">
                                <button class="btn btn-outline-dark dropdown-toggle"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Inquilinos
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Crear">Crear</a>

                                </div>
                            </div>

                            <div class="dropdown ml-1 mr-1">
                                <button class="btn btn-outline-dark dropdown-toggle"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Inmuebles
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Index">Inmuebles</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Crear">Crear</a>

                                </div>
                            </div>


                            <div class="dropdown ml-1 mr-1">
                                <button class="btn btn-outline-dark dropdown-toggle"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Contratos
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="Index">Contratos</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="Crear">Crear</a>
                                    <a class="dropdown-item text-dark" asp-area="" data-toggle="modal" data-target="#filtroFechas">Filtrar por fechas</a>

                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="ContratosVigentes">Contratos Actuales</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Contrato" asp-action="ContratosBajas">Eliminados</a>

                                </div>
                            </div>

                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {

                                <div class="dropdown ml-1 mr-1">
                                    <button class="btn btn-outline-dark dropdown-toggle"
                                            type="button" id="dropdownMenu1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        Usuarios
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Crear">Crear</a>

                                    </div>
                                </div>

                            }

                            <div class="dropdown ml-1 mr-1">
                                <a class="btn btn-group-sm btn-outline-dark dropdown-toggle" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                        <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                                        <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                                    </svg>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <!--<a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Perfil"><i class="lnr lnr-user"></i> Perfil</a>-->
                                    <a class="dropdown-item text-dark" asp-controller="Usuario" asp-action="Salir">
                                        Cerrar Sesión
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>


        <div class="modal fade" id="filtroFechas" tabindex="-1" role="dialog" aria-labelledby="filtroFechas" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Buscar contratos por fechas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Seleccione fechas para filtrar.
                        </p>
                        <form asp-action="ObtenerPorFechas" asp-controller="Contrato">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label class="control-label">Fecha de inicio</label>
                                    <input name="fechaDesde" id="fechaDesde" type="date" required class="form-control" />
                                </div>
                                <div class="form-group col">
                                    <label class="control-label">Fecha de cierre</label>
                                    <input name="fechaHasta" id="fechaHasta" type="date" required class="form-control" />
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Salir</button>
                                <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </header>


    @if (!String.IsNullOrEmpty(ViewBag.Error)) 
    { 
        <div class="container">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Informacion:</strong>@ViewBag.Error
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">X</button>
            </div>
        </div>
    }



    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - InmobiliariaHavelka - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
